<!DOCTYPE html>
<html lang="{{ app.request.getLocale }}">

<head>

    {# Début : encodage caractère #}
    <meta charset="UTF-8">
    {# Fin   : encodage caractère #}

    {# Début : Minimum de responsive design #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Fin   : Minimum de responsive design #}

    {# Début : Mise en place du titre de l'onglet dynamiquement #}
    <title>Médécine du monde - {% block title %}{% endblock %}</title>
    {# Fin   : Mise en place du titre de l'onglet dynamiquement #}

    {# Début : Mise en place de la favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {# Fin : Mise en place de la favicon #}

    {# Début : Mise en place du css avec webpack encore #}
    {% block webpack_stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {# Fin : Mise en place du css avec webpack encore #}

    {# Début : Mise en place du javascript avec webpack encore #}
    {% block webpack_javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {# Fin : Mise en place du javascript avec webpack encore #}

    {# Début : Mise en place de jQuery uniquement là où j'en ai besoin #}
    {% block jquery %}{% endblock %}
    {# Fin   : Mise en place de jQuery uniquement là où j'en ai besoin #}

    {# Début : Mise en place du editeur de texte #}
    {% block tinymce %}{% endblock %}
    {# Fin   : Mise en place du editeur de texte #}

    {# Début : Mise en place du CDN de font awesome #}
    {% block font_awesome %}{% endblock %}
    {# Fin   : Mise en place du CDN de font awesome #}

    {# Début : Mise en place du CDN de datatables #}
    {% block datatables %}{% endblock %}
    {# Fin   : Mise en place du CDN de datatables #}


    {# Début : Mise en place du CDN de select 2 #}
    {% block select2 %}{% endblock %}
    {# Fin   : Mise en place du CDN de select 2 #}

    {# Début : Mise en place du css spécifique à chaque page #}
    {% block css %}{% endblock %}
    {# Fin   : Mise en place du css spécifique à chaque page #}

    {# Début : Mise en place du js spécifique à chaque page #}
    {% block js %}{% endblock %}
    {# Fin   : Mise en place du js spécifique à chaque page #}

</head>

<body class="bg-light">

    {# Début : Mise en place de la navbar #}
    {% include "layout/navbar/_navbar_back.html.twig" %}
    {# Fin   : Mise en place de la navbar #}


    {# Début : Mise en place de la section d'introduction #}
    {% block intro_section %}{% endblock %}
    {# Fin   : Mise en place de la section d'introduction #}


    {# Début : Mise en place de la main #}
    <main class="container-fluid">
        {% block main %}{% endblock %}
    </main>
    {# Fin : Mise en place de la main #}


    {# Début : Mise en place de la footer #}
    {% include "layout/footer/_footer_back.html.twig" %}
    {# Fin : Mise en place de la footer #}

</body>

</html>